<!DOCTYPE html> 
<html>
<head>
  
  <meta charset="UTF-8">
  <title> Vacunassist </title>
  <% if current_user.rol == 3 %>
      <% controller.redirect_to pantallaadmin_path(current_user) %>
     <% end %>
  <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
  <meta HTTP-EQUIV="REFRESH" content="3; /verdatos">
  <% end %>
</head>  
<body>	

  <div class="page-header" align="center">
    <h1 style="margin-left:200px;margin-right:200px">
        Bienvenido <%= current_user.name %> a Vacunassist
    </h1>
  </div>
    <div align="left">
      <h3><%= image_tag "logo.png", title: "Logo", class: "logo" ,style: "width:150px" %></h3>
    </div>
    <% if current_user.rol == 1 or current_user.rol == 2 %>
    <div class="container">
      <div class="row">
         <div class="col-sm-4">
               <% @edad = Date.today.year - current_user.nacimiento.year %>
               <% if Date.today.month <= current_user.nacimiento.month %>
                    <% if Date.today.month <= current_user.nacimiento.month %>
                         <% @edad = @edad-1 %>
                    <% end %>
               <% end %> 
              <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Obtener Turno COVID19 1era dosis"%></button>
                <%else%>

               <% if current_user.covid1 == false and !Turno.where("nombrevacuna = ? and user_id = ?","covid1",current_user.id).exists?%>
             
               <% if current_user.covid1 == false and !Turno.where("nombrevacuna = ? and user_id = ? and aplicada = ? and fecha >= ?","covid1",current_user.id,false,Date.today).exists? %>
                <% controller.redirect_to turnoscovid1_path(current_user), notice: "Tiene que obtener un turno para continuar" %>
               <button style="background-color:yellow">
	              <%= link_to "Obtener Turno COVID19 1era dosis", turnoscovid1_path(current_user), class: 'btn btn-info btn-sm' %>
	                 </button>
	             <% else %>  
	               <button disabled=true>  <%= link_to "Obtener Turno COVID19 1era dosis"%></button>
	               
               <% end %>
               <% end %>
              <%end%>
              
              <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Obtener Turno COVID19 2da dosis"%></button>
                <%else%>
               <% if current_user.covid2 == false and current_user.covid1 == true and !Turno.where("nombrevacuna = ? and user_id = ?","covid2",current_user.id).exists?%>
        
               <% if current_user.covid2 == false and current_user.covid1 == true and !Turno.where("nombrevacuna = ? and user_id = ? and aplicada = ? and fecha >= ?","covid2",current_user.id,false,Date.today).exists?%>
                <% controller.redirect_to turnoscovid2_path(current_user), notice: "Tiene que obtener un turno para continuar" %>
                  <button style="background-color:yellow">
	           <%= link_to "Obtener Turno COVID19 2da dosis", turnoscovid2_path(current_user), class: 'btn btn-info btn-sm' %>
	           </button>
	           <% else %>  
	               <button disabled=true>  <%= link_to "Obtener Turno COVID19 2da dosis"%></button>
               <% end %>
               <% end %>
              <% end %>

               <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Obtener Turno Fiebre Amarilla"%></button>
                <%else%>
               <% if current_user.fiebreamarilla == false and @edad<60 and !Turno.where("nombrevacuna = ? and user_id = ?","fiebreamarilla",current_user.id).exists? %>
               <% if current_user.fiebreamarilla == false and @edad<60 and !Turno.where("nombrevacuna = ? and user_id = ? and aplicada = ? and fecha >= ?","fiebreamarilla",current_user.id,false,Date.today).exists? %>
               <button style="background-color:yellow">
	           <%= link_to "Obtener Turno Fiebre Amarilla", turnosfiebreamarilla_path(current_user), class: 'btn btn-info btn-sm' %>
                  </button>
                  <% else %>  
	               <button disabled=true>  <%= link_to "Obtener Turno Fiebre Amarilla"%></button>
               <% end %>
               <% end %>
              <% end %>

              <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Obtener Turno Gripe"%></button>
                <%else%>
               <% if current_user.gripe == false and !Turno.where("nombrevacuna = ? and user_id = ?","gripe",current_user.id).exists?%>
               <% if current_user.gripe == false and !Turno.where("nombrevacuna = ? and user_id = ? and aplicada = ? and fecha >= ?","gripe",current_user.id,false,Date.today).exists?%>
                  <button style="background-color:yellow">
	           <%= link_to "Obtener Turno Gripe", turnosgripe_path(current_user), class: 'btn btn-info btn-sm' %>
                          </button>
                   <% else %>  
	               <button disabled=true>  <%= link_to "Obtener Turno Gripe"%></button>
               <% end %>
               <% end %>
              <% end %>

        </div>
        <div class="col-sm-4" align="right">
              <h2>
                <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Ver Datos Personales"%></button>
                <%else%>
               <button style="background-color:yellow">
	           <%= link_to "Ver Datos Personales", verdatos_path(current_user), class: 'btn btn-info btn-sm' %>
                </button>
                <% end %>
                </h2>
                <h2>
                <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Ver Listado de Turnos"%></button>
                <%else%>
                <button style="background-color:yellow">
	            <%= link_to "Ver Listado de Turnos", verlistadoturnos_path(current_user), class: 'btn btn-info btn-sm' %>
                 </button>
                <% end %>
               </h2>
               <h2>
               <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Ver Listado de certificados"%></button>
                <%else%>
                <button style="background-color:yellow">
	            <%= link_to "Ver Certificados", comprobante_index_path(current_user.id), class: 'btn btn-info btn-sm' %>
                 </button>
                 <%end%>
               </h2>
              <h2>

                <button style="background-color:yellow">
	            <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
                 </button>
               </h2>
             <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Eliminar mi cuenta"%></button>
                <%else%>
                <button style="background-color:yellow">
	 	     <%= link_to "Eliminar mi cuenta", registration_path(current_user), data: { confirm: "¿Seguro que quieres eliminar tu cuenta?" }, method: :delete %>
                </button>
                <% end %>
                <h2>
              <% if ((current_user.historia.attached? == false) and (current_user.rol == 1)) %>
                <button disabled=true>  <%= link_to "Ver informacion de contacto"%></button>
                <%else%>
               <button style="background-color:yellow">
	           <%= link_to "Ver informacion de contacto", vacunatorios_ver_contacto_path, class: 'btn btn-info btn-sm' %>
                </button>
                <% end %>
                </h2>
                <% if current_user.rol == 2 %>  
                  <h2>  
                  <button style="background-color:yellow">
	            <%= link_to "Pantalla Enfermero", pantallaenfermero_path(current_user), class: 'btn btn-info btn-sm' %>
                  </button>
                  </h2>    
                <% end %>
       </div>
     </div>
  </div>
  <% end %>
</body>

</html>
