<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Pacientes registrados en Vacunassist </h1> 
<div>
    <p>
    <%= form_tag(buscar_path, method: 'get') do %>
   <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Ingrese DNI o Apellido", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:dni => nil%>  
    </div>  
  </div>  
  <% end %>
    </p>
    <% User.all.where(rol: "1").order('name, apellido').each do |user| %>
       <p>
         <p>Nombre: <%= user.name%> Apellido: <%= user.apellido %> DNI <%= user.dni %>
              <button style="background-color:yellow">
	          <%= link_to "Ver Información del paciente", verdatospaciente_path(user), class: 'btn btn-info btn-sm' %>
          </button>   

          <% if user.historia.attached? %>
                <button style="background-color:yellow;">
                 <%= link_to "Ver Historia de Vacunación", user.historia, class: 'btn btn-info btn-sm' %>
                </button>
          <% else %>
                <button disabled=true style="background-color:grey;">
                 <%= link_to "Sin Historia", class: 'btn btn-info btn-sm' %>
                </button>

          <% end %>

          <button style="background-color:yellow">
                 <%= link_to "Ver Certificados del Paciente",comprobante_index_path(user.id), class: 'btn btn-info btn-sm' %>
          </button>  
          <button style="background-color:yellow">
	          <%= link_to "Ver Historial de Turnos del paciente", historialdeturnospaciente_path(user), class: 'btn btn-info btn-sm' %>
          </button>
          <% if current_user.rol == 3 %>
          <button style="background-color:yellow">
	          <%= link_to "Alta de enfermero", main_alta_path(user.id), class: 'btn btn-info btn-sm' %>
          </button>   
          <% end %>
       </p>
    <% end %> 
            


<%= link_to "Atrás", pantallaenfermero_path %>
   

</div>

</body>
</html>
