<!DOCTYPE html> 
<html>
<body>
<h1>Resultados de la Búsqueda</h1> 
   <% if not @users.any? %>
      <p> No hay coincidencias </p>
   <% end %> 
   <% @users.all.where(rol: "2").order('name, apellido').each do |user| %>
       <p>
         <p>Nombre: <%= user.name %> Apellido: <%= user.apellido %> DNI <%= user.dni %>
         <button style="background-color:yellow">
                        <%= link_to "Baja", baja_path(user.id), class: "btn btn-success" %>
        </button>
        <button style="background-color:yellow">
              <%= link_to "Ver Información Enfermero", verinformacionenfermero_path(user.id), class: "btn btn-success" %>
         </button>
                         
       </p>
    <% end %> 


    
<%= link_to "Atrás", listadoenfermero_path(current_user) %>
   

</div>

</body>
</html>
