<!DOCTYPE html> 
<html>
<body>
<h1> Mis Datos </h1> 
<div>

    <div>
      <span id="Nombre">Nombre</span>
      <input readonly type="text"  value= "<%=current_user.name %>" name="Nombre" placeholder="Nombre" required>
    </div>

    <div>
      <span id="Apellido">Apellido</span>
      <input readonly type="text"  value= "<%= current_user.apellido %>" name="Apellido" placeholder="Apellido" required>
    </div>
    
    <div>
      <span id="DNI">DNI</span>
      <input readonly type="text"  value= "<%= current_user.dni %>" name="DNI" placeholder="DNI" required>
    </div>
    
     <div>
	<span id="Mail">Mail</span>
      <input readonly type="email"  value= "<%= current_user.email %>" name="Mail" placeholder="Mail" required>
    </div>
    
    <div>
      <span id="Apellido">Dirección</span>
      <input readonly type="text"  value= "<%= current_user.direccion %>" name="Direccion" placeholder="Dirección" required>
    </div>
    
    <div>
	<span id="Fecha de nacimiento">Fecha de Nacimiento</span>
      <input readonly type="date"  value= "<%= current_user.nacimiento %>" name="Nacimieno" placeholder="Fecha de nacimiento" required>
    </div>
    
    <div>
       <span id="Vacuna">Primera dosis COVID-19</span>
        <% if current_user.covid1 == true %>
      <input type="checkbox" onclick="return false;" checked required>
        <% else %>
           <input type="checkbox" onclick="return false;" required>
      <% end %>
    </div>
    
    <div>
       <span id="Vacuna">Segunda dosis COVID-19</span>
        <% if current_user.covid2 == true %>
      <input type="checkbox" onclick="return false;" checked required>
        <% else %>
           <input type="checkbox" onclick="return false;" required>
      <% end %>
    </div>
    
    <div>
       <span id="Vacuna">Fiebre Amarilla</span>
        <% if current_user.fiebreamarilla == true %>
      <input type="checkbox" onclick="return false;" checked required>
        <% else %>
           <input type="checkbox" onclick="return false;" required>
      <% end %>
    </div>
    
    <div>
       <span id="Vacuna">Gripe</span>
        <% if current_user.gripe == true %>
      <input type="checkbox" onclick="return false;" checked required>
        <% else %>
           <input type="checkbox" onclick="return false;" required>
      <% end %>
    </div>
    <br>
    <% if current_user.historia.attached? %>

          <button style="background-color:green;">
           <%= link_to "Ver Historia de Vacunación", current_user.historia, class: 'btn btn-info btn-sm' %>
          </button>
    <% else %>
    <% if current_user.rol == 1 %>
    <h3>USTED DEBE SUBIR UNA HISTORIA DE VACUNACIÓN ANTES DE CONTINUAR</h3>
    <% end %>
    <h5>Presione el botón MODIFICAR para poder subir su historia</h5>
    <% end %>
    <h2>
              <button style="background-color:yellow">
	         <%= link_to "Modificar", edit_user_registration_path(current_user), class: 'btn btn-info btn-sm' %>
              </button>
    </h2>

</div>
    <h2>
              <button style="background-color:yellow">
           <%= link_to "Atrás", home_path(current_user), class: 'btn btn-info btn-sm' %>
              </button>
    </h2>

</body>
</html>
