<!DOCTYPE html> 
<html>
<body>
<h1> Detalles del Turno </h1> 
<div>
         <% @turno = Turno.find(params[:id]) %>
         <p> Lugar: <%= Vacunatorio.find(@turno.vacunatorio_id).lugar %> </p>
         <p> Dia: <%= @turno.fecha %></p>
         <p> Hora: <%= @turno.hora.hour%>:<%= @turno.hora.strftime('%M')%> </p>
         <p> Vacuna:
           <% if @turno.nombrevacuna == "covid1" %>
              Primera Dosis COVID-19
           <% elsif @turno.nombrevacuna == "covid2" %>
             Segunda Dosis COVID-19
           <% elsif @turno.nombrevacuna == "fiebreamarilla" %>
             Fiebre Amarilla
          <% elsif @turno.nombrevacuna == "gripe" %>
             Gripe
           <% end %>
            </p>
          <p> <% if @turno.asistencia == true %>
               Asistencia: Presente
              <% elsif @turno.asistencia == false and @turno.fecha <= Date.today %>
               Asistencia: Ausente
              <% end %>
          </p>
           <p> <% if @turno.aplicada == true %>
               Aplicada: Se pudo aplicar
              <% elsif @turno.aplicada == false %>
               Aplicada: No Aplicada
              <% end %>
          </p>
          <p> <% if @turno.texto != nil %>
              Nota: <%= @turno.texto %>
              <% end %>
          </p>
          
    
<%= link_to "Atrás", :back%>
   

</div>

</body>
</html>
