<!DOCTYPE html> 
<html>
<body>
<h2> Mi Historia de Vacunación </h2> 
<div>

<%= link_to "Atrás", verdatos_path(current_user) %>

<figure class="image is-64x64">
  <%= image_tag(url_for(current_user.historia)) %>
</figure>


</div>

</body>
</html>