<!DOCTYPE html> 
<html>
<h1>Lista de enfermeros</h1>
<% if user_signed_in? and current_user.rol == 3 %>
   <p>
      <%= form_tag(buscarenfermero_path, method: 'get') do %>
   <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Ingrese DNI o Apellido", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:dni => nil%>  
    </div>  
  </div>  
  <% end %>
    </p>
    <table class = "table">
        <% if not @e.any?%>
            No hay enfermeros en este vacunatorio.
      
        <% else %>
            <th>Nombre Apellido</th>
            <th>DNI</th>
            <tbody>
                <% @e.each do |e| %>
                    <tr>
                        <td><%= e.name %> <%= e.apellido %></td>
                        <td><%= e.dni %></td>
                        <td>
                        <button style="background-color:yellow">
                        <%= link_to "Baja", baja_path(e.id), class: "btn btn-success" %>
                         </button>
                        </td>
                        <td>
                        <button style="background-color:yellow">
                        <%= link_to "Ver Información Enfermero", verinformacionenfermero_path(e.id), class: "btn btn-success" %>
                         </button>
                        </td>
                    </tr>
                <% end %>
            </tbody>
            <% end %>
    </table>
<% else %>
    Acceso denegado.
<% end %>
<%= link_to "Atrás", pantallaadmin_path(current_user) %>
</html>
