<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Hola, <%= @usuario.name %>!</h1>
    <p>
      Le escribimos para recordarle que tiene un turno de vacunación para el día <%= @fecha %>.<br>
    </p>
    <p>
      Si lo desea, puede acceder con su cuenta de Vacunassist para ver sus turnos.
    </p>
    <p>¡Le deseamos un excelente día!</p>
  </body>
</html>