<!DOCTYPE html> 
<html>
<h1>Estadísticas</h1>
<% if user_signed_in? and current_user.rol == 3 %>
    <%= render 'seleccionar' %>
    <table class = "table">
        <% if params[:q].present? %>
            <% if not @t.any?%>
                No hay datos que mostrar en el período seleccionado.
        
            <% else %>
                <th>Ausentes</th>
                <th>Vacunados</th>
                <th>Presentes no vacunados</th>
                <th>Vacunados Covid</th>
                <th>Vacunados Fiebre Amarilla</th>
                <th>Vacunados Gripe</th>
                <tbody>
                    <tr>
                        <td><%= @ausentes %></td>
                        <td><%= @vacunados %></td>
                        <td><%= @no_vac %></td>
                        <td><%= @vac_covid %></td>
                        <td><%= @vac_fiebre_am %></td>
                        <td><%= @vac_gripe %></td>
                    </tr>
                </tbody>
                <% end %>
            <% end %>
    </table>
<% else %>
    Acceso denegado.
<% end %>
<%= link_to "Atrás", :back %>
</html>
