<!DOCTYPE html> 
<html>
<body>
<h1> Marcar Vacuna Aplicada sin Turno </h1> 
<div>
   <h3> Por favor complete todos los campos </h3> 
    <%= form_with url: "/aplicadasinturnoform", method: :patch do |f| %>
               <div>
               <p>
                  <%= f.label :DNI, "DNI" %>
                  <%= f.number_field :dni, required: true , min: 1%>
               </p> 
               <p>
                  <%= f.label :vacunatorio %>
                  <%= f.number_field :vacunatorio, required: true , min: 1, max: 3%> 
               </p> 
               <div class="field", required="true">
     			<%= f.label :covid1, "Primera dosis COVID19" %>
    		       <%= f.check_box :covid1 %>
    		       <%= f.label :covid2, "Segunda dosis COVID19" %>
    		       <%= f.check_box :covid2 %>
    		       <%= f.label :gripe, "Fiebre Amarilla" %>
    		       <%= f.check_box :fiebreamarilla %>
    		       <%= f.label :gripe, "Gripe" %>
    		       <%= f.check_box :gripe %>
               </div>
                  <%= f.submit "Marcar Vacuna Aplicada"%>
               </div>
                              
                       <% end %>
   
    
<%= link_to "Atrás", ver_lista_turnos_path(current_user) %>
   

</div>

</body>
</html>
