<!DOCTYPE html> 
<html>
<head>
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<body>
<h1> Historial de Turnos </h1> 
<div>
   <p>
      <%= form_tag(searchturnos_path, method: 'get') do %>
   <div class="input-group"> 
     <p>
      Turnos desde:
      <%= date_field_tag :fechainicio, params[:fechainicio], class: "form-control" %>
      </p>
      <p> 
      Hasta:
      <%= date_field_tag :fechafin, params[:fechafin], class: "form-control" %>
      </p> 
    <div class="input-group-btn">  
      <%= button_tag "Buscar", :class => 'btn btn-info glyphicon glyphicon-search',:dni => nil%>  
    </div>  
  </div>  
  <% end %>
    </p>
        <h3> Turnos pasados </h3>
           <% Turno.all.where("fecha < ?", Date.today).where("user_id != ?", "nil").order('fecha, hora').each do |turno|%>
              <p>
              <% @id = turno.user_id %>
              <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %> 
               <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>
           <% end %>
           <h3> Turnos del dia </h3>
            <button style="background-color:yellow">
              <%= link_to "Ver Lista de Turnos Diarios", ver_lista_turnos_path(current_user), class: 'btn btn-info btn-sm' %>
              </button> 
             <% Turno.all.where("fecha = ?", Date.today).where("user_id != ?", "nil").order('fecha, hora').each do |turno|%>
              <p>
              <% @id = turno.user_id %>
              <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %> 
               <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>              
              </p>
           <% end %>
        <h3> Turnos próximos </h3>
        <% Turno.all.where("fecha > ?", Date.today).where("user_id != ?", "nil").order('fecha, hora').each do |turno| %> 
         
            <p>
             <% @id = turno.user_id %>
            <% if turno.nombrevacuna == "covid1" %>
                  Turno Primera dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "covid2" %>
                  Turno Segunda dosis COVID-19 de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "fiebreamarilla" %>
            	  Turno Fiebre Amarilla de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>
            <% if turno.nombrevacuna == "gripe" %>
                  Turno Gripe de <%= User.find(@id).name %> <%=User.find(@id).apellido %> Fecha:<%= turno.fecha.day %> / <%= turno.fecha.month %> /  <%= turno.fecha.year %>
            <% end %>   
            <button style="background-color:yellow">
	            <%= link_to "Ver detalles del Turno del Paciente",verdetalleturno_path(turno), class: 'btn btn-info btn-sm' %>
               </button>             
            </p>

       <% end %> 

<%= link_to "Atrás", pantallaenfermero_path %>
   

</div>

</body>
</html>
