<!DOCTYPE html> 
<html>
<body>
<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, autofocus: true, required: true%>
  </div>
  
    <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido, autofocus: true, required: true %>
  </div>
  
   <div class="field">
    <%= f.label :dni, "DNI" %><br />
    <%= f.number_field :dni, autofocus: true, required: true %>
  </div>
  
    <div class="field">
    <%= f.label :fecha_de_nacimiento %><br />
    <%= f.date_field :nacimiento, autofocus: true, required: true %>
  </div>
  
    <div class="field">
    <%= f.label :dirección %><br />
    <%= f.text_field :direccion, autofocus: true, required: true %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :contraseña %>
    <% if @minimum_password_length %>
    <em>(minimo 6 caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :confirmación_de_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
    <div class="field">
     <h3> Marque en caso de que de que ya se haya aplicado alguna de las siguientes vacunas </h3>
    </div>
  
  <div class="field">
     <%= f.label :covid1, "Primera dosis COVID19" %>
      <%= f.check_box :covid1 %>
    </div>
    
    <div class="field">
     <%= f.label :covid2 , "Segunda dosis COVID19"%>
      <%= f.check_box :covid2 %>
    </div>
    
    <div class="field">
     <%= f.label :fiebreamarilla, "Fiebre Amarilla" %>
      <%= f.check_box :fiebreamarilla %>
    </div>
    
    <div class="field">
     <%= f.label :gripe %>
      <%= f.check_box :gripe%>
    </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>


</body>
</html>
