<!DOCTYPE html> 
<html>
<h1>Lista de Certificados <%= "#{@usuario.name} #{@usuario.apellido}" %></h1>
<table class = "table">
   <% if not @c.any?%>
      No se aplicó ninguna vacuna en este vacunatorio.
      
    <% else %>
            <th>Vacuna</th>
            <th>Vacunatorio</th>
            <th>Fecha</th>
            <th>Hora</th>
    <tbody>
         <% @c.each do |c| %>
        <tr>
            <td><% if c.vacuna == "covid1"%>
                                  Primera Dosis Covid 
                           <% elsif c.vacuna == "covid2" %>
                                  Segunda Dosis Covid 
                           <% elsif c.vacuna == "gripe" %>
                                  Gripe
                            <% elsif c.vacuna == "fiebreamarilla" %>
                                  Fiebre Amarilla      
                            <% end %></td>
                <td><% @v = Vacunatorio.find(c.vacunatorio_id) %>
                    <%= @v.nombre %>
                </td>
                <td><%= c.fecha.day %> / <%= c.fecha.month %> / <%= c.fecha.year %> </td>
                <td><%= c.hora.hour%>:<%= c.hora.strftime('%M')%></td>
           
        </tr>
        <% end %>
    </tbody>
</table>
<% end %>
<%= link_to "Atrás", :back %>
</html>
